<nav>
  <ul>
    <li><a href="/sessions">Back to all Sessions</a></li>
  </ul>
</nav>
<h2><%= @gym_class.name %> <span class='link-text'>on</span> <%= @session.date %> <span class='link-text'>at</span> <%= @session.start %></h2>
