<h2>Membership Type Details</h2>
<%= erb('membershiptypes/membershiptypes_nav'.to_sym)  %>
<p><%= @membershiptype.id %>: <%= @membershiptypes.name %></p>
<p>Are you sure you want to delete this membership type?</p>
<input type="button" name="cancel" value="Cancel">
<input type="button" name="delete" value="Yes, Delete This Membership Type">
