<h2>Admin Area</h2>
<ul>
  <li><a href="/roles">Person Roles</li>
  <li><a href="/membershiptypes">Membership Types</li>
  <li><a href="/rooms">Rooms</li>
  <li><a href="/intensities">Intensities</li>

</ul>
