<h2>Add Role</h2>
<%= erb('roles/roles_nav'.to_sym)  %>
<form class="role-new" action="/roles" method="post">
  <label for="role-name"></label>
  <input id="role-name" type="text" name="name">
  <input type="submit" name="submit" value="Add New Role">
</form>
