<h1>New Role</h1>

<form class="role-new" action="/roles" method="post">
  <label for="role-name"></label>
  <input type="text" name="name">
  <input type="submit" name="submit" value="Add New Role">
</form>
