body {
  font-family: Verdana, sans-serif;
  font-size: 100%;
  background-color: darkgray;
  margin:0;
  padding:0;
}
#wrapper {
  width: 100%;
  background-color:white;
}
#wrapper-clear{
  width: 100%;
  height: 10px;
  margin-bottom: 10px;
  clear: both;
  background-color: white;
}
#nav {
  position: relative;
  width: 100%;
  height: 50px;
  background-color:lightgray;
  padding: 20px;
}
#logo {
  font-family: Arial, sans-serif;
  display:block;
  position:relative;
  margin-top: -1em;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 5em;
  line-height: 5em;
  color:transparent;
  pointer-events: none;
  z-index: 100;

}
#logo span:nth-of-type(1){
  display:block;
  width: 0.7em;
  font-size: 5em;
  line-height: 1em;
  padding:0;
  margin:0;
  color: darkgray;
}
#logo span:nth-of-type(2){
  display:block;
  font-size: 3em;
  line-height: 1em;
  padding:0;
  margin:0;

  margin-top: -2.98em;
  padding-left: 0.35em;
  color: darkorange;
}
#logo span:nth-of-type(3){
  display:block;
  width: 3em;
  font-size: 1em;
  line-height: 1em;
  padding:0;
  margin:0;
  margin-top:-7.2em;
  padding-left: 1.7em;
  color: black;
}
#nav ul {
  width: 80%;
  display:block;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 12em;
  margin-left:auto;
  margin-right: auto;
  margin-top: -6em;
}
#nav li {
  position:relative;
  display: inline-block;
  margin-left: 1em;
  padding-right: 1em;
  border-right: 2px solid darkorange;
  font-size: 1.5em;
}
#nav a {
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  color: black;

}
#nav a:link{
  margin-top: 0;
}
#nav a:hover {
  margin-top: -1em;
  color: tomato;
}


section {
  width: 80%;
  position: relative;
  margin-left:auto;
  margin-right:auto;
  min-height: 500px;
  background-color:white;
  padding-top: 1em;
  padding-left: 15em;
  padding-right: 40px;
  margin-bottom: 10px;
  padding-bottom: 80px;
  margin-bottom:0;

}

footer {
  padding:0;
  margin:0;
  display:block;
  clear:both;
  width: 100%;
  height: 100px;
  background-color:darkgray;
  border-top: 4px solid darkorange;
}


section nav {
  width: 100%;
  padding:0;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid darkorange;
}
section nav ul{
  list-style-type: none;
  margin:0;
  padding:0;
}
section nav li {
  display: inline-block;
  padding-right: 1em;
}
section nav a {
  display: block;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  background-color: darkorange;
  color: white;
  text-decoration: none;
  border: 1px solid darkorange;
  border-radius: 3px;
}

.item-table {
   border-collapse: collapse;
   border-bottom: 2px solid darkorange;
   background-color: transparent;
}
.item-table-labels {
  background-color:darkorange;
}

.item-table th {
  text-align: left;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top:0;
  padding-bottom: 0.5em;
  color:white;
}

.item-table-labels th {
  padding-top: 0.5em;
}
.item-table tbody td {
  border-bottom: 1px solid lightgray;
}

.item-table td {
  text-align: left;
  padding: 0.5em;
}
.item-list-item {
  height: 2.5em;
  border-bottom: 1px solid lightgray;
}

.item-id {
  width: 2.5em;
  border-right: 2px solid darkorange;
}
.item-id a {
  border:none;
  text-decoration: none;
  font-weight:bold;
}
.item-name {
  font-weight: bold;
}

.item-edit {
  border-left: 2px solid darkorange;
}

.item-table thead a {
  text-decoration: none;
  display:inline-block;
  height: 1.3em;
  width: 1em;
  border: 1px solid lightgray;
  text-align: center;
  margin:0;
}

.item-table-sort-row {
  height: 0.5em;
}

td.item-description  {
  padding-right: 4em;
}

.table-instructions {
  font-size: 0.8em;
}

/* -- Item form -- */
.edit-item-form, .session-add {
  border:1px solid darkgray;
  border-radius: 0.5em;
  padding: 1.5em;
  width: 80%;
  background-color: #fce1c9;
}

.edit-item-form label, .session-add label {
  display: block;
  margin-top: 1em;
  margin-bottom: 0.4em;
  font-weight: bolder;
}
.edit-item-form input[type=text], .session-add input[type=text]{
  width: 95%;
  font-size: 1.1em;
  padding:0.1em;
}


#form-btns {
  width:95%;
  height: 3em;
  margin-top: 1.5em;
  position: relative;
}

.form-btn {
  display: inline-block;
  padding: 0.6em;
  border-radius: 0.4em;
  font-size: 1.1em;
}

.edit-item-form input[name=delete] {
  float: left;
  background-color: red;
  color: white;
}


#submit-btn {
  background-color: darkorange;
  float: right;
  color: white;
  padding: 0.8em;
}

#person-role-id {
  width: 50%;
  font-size: 1em;
  padding: 0.2em;
}

.item-list-member-photo {
  width: 100px;
}

#photo-group {
  position: relative;
  border: 1px solid darkgray;
  border-radius: 10px;
  width: 220px;
  float:right;
  margin: 10px;
  padding: 10px;
}

#detail-member-photo {
  display:block;
  width: 200px;
  margin-left:auto;
  margin-right:auto;
}

#person-first-name {
  width: 40%;
}
#person-last-name {
  width: 40%;
}

#label-street-address {
  clear:both;
}

.employee-emoji {
  font-size: 2em;
}
.submit-group {
  position:relative;
  width: 100%;
  height: 3em;
  clear: both;
}

#membership-group {
  width: 95%;
  border: 1px solid darkorange;
  padding: 10px;
  border-radius: 10px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.membershiptype-select {
  font-size: 1.2em;
  padding: 0.2em;
}

#gym-class-description {
  height: 200px;
  width: 95%;
  overflow: scroll;
  font-size: 1.2em;
}
.item-gym-class-description {
  width: 100%;
  height: 100%;
  margin: 0;
}
.item-gym-class-description-cell{
  padding:0;
  width: 500px;
  height: 200px;

}
.item-gym-class-description-cell textarea {
  font-size: 1.2em;
}

.gym-class-intensity-select {
  margin-top: 1em;
  width: 50%;
  height: 1.6em;
  font-size: 1.2em;
}

.link-text {
  color: darkorange;
}

#session-gym-class {
  position:relative;
  width: 100%;
  background-color: tomato;

}
#session-class-group {
  position: relative;
  width: 48%;
  float: left;

}

#session-gym-class-description {
  width: 100%;
}

#session-gym-class-booked {
  position:relative;
  width: 100%;
  padding-bottom: 10px;
  border: 1px solid darkgray;
  border-radius: 5px;
  background-color: #c7e8cb;
}

#session-gym-class-reserve {
  position:relative;
  width: 100%;
  min-height: 100px;
  padding-bottom: 10px;
  border: 1px solid darkgray;
  border-radius: 5px;
  background-color: #f7d2be;
}
#reserve-header {
  width: 100%;
  clear:both;
}

.person-booked, .person-reserve {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 130px;
  margin: 5px;

}
.placeholder {
  position: relative;
  display: inline-block;
  width: 76px;
  height: 129px;
  margin: 5px;
  background-color: white;
}
.person-booked p, .person-reserve p{
    font-size: 10px;
    display:block;
    text-align:center;
    height: 10px;
    margin:2px;
    padding:0;

}

.spaces-available {
  color: darkorange;
}
.person-booked {

}
.person-reserve {

}
.person-booked-image, .person-reserve-image {
  display:block;
  width: 80px;
}

#session-person {
  width: 40%;
  min-height: 200px;

  float: right;
  font-size: 1em;
}

.date-label {
  width: 40px;
  font-weight: bold;
}

.membership-label {
  width: 80px;
  font-weight: bold;
}

#person-name {
  font-weight: bold;
  font-size: 1.2em;
}

.find-person {
  width: 90%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid darkgray;
  border-radius: 10px;
  background-color: darkgray;
}
.find-person input[type=submit]{
  width: 50px;
  height: 40px;
}

.session-person-form {
  width: 90%;
  padding: 10px;
  border: 1px solid darkgray;
  border-radius: 10px;
}

.session-person-form input[type=submit] {
  display:block;
  width: 60%;
  height: 30px;
  font-size: 1em !important;
}

.item-table td.item-capacity {
  padding: 0 !important;
  position: relative;
  height: 40px;
}

.capacity-outer {
  position:absolute;
  top:0;
  left:0;
  margin:0;
  width: 100%;
  height: 40px;
  border-right: 1px solid darkgray;
}
.capacity-inner{
  display:block;
  height: 40px;
  margin:0;
  position: absolute;
  left:0;
  top:0;
  /* z-index: 1000; */
}

.capcity-value {
  position:absolute;
  top:0;
  width: 100%;
  height: 40px;
  z-index: 50;
  line-height: 40px;
}
.booked-person-check {
  position: absolute;
  top: 2px;
  right: 2px;
  display:block;
  width: 15px;
  height: 15px;
}

.person-booked {
  position: relative;
}

#remove-btn {
  display:block;
  width: 50%;
  height: 30px;
  font-size: 1em !important;
  margin-top: 10px;
}

.session-add {
  width: 60%;
  border: 1px solid darkgray;

}

.session-add select {
  width: 40%;
  height: 30px;
  font-size: 1.2em;
  display:block;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.session-add input[type=number] {
  height: 30px;
  width: 60px;
  font-size: 1.2em;
}
 #footer-p {
   color: white;
   width: 100%;
   font-size: 1.5em;
   text-align: center;
 }

 #right-arm {
   display:inline-block;
   font-size: 3em;
 }

 #left-arm {
   display:inline-block;
   font-size: 3em;
 }

 #left-arm {
   -moz-transform: scale(-1, 1);
 -webkit-transform: scale(-1, 1);
 -o-transform: scale(-1, 1);
 -ms-transform: scale(-1, 1);
 transform: scale(-1, 1);
 }
