<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CodeClan Gym</title>
    <link href="/styles/styles.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>

    <nav id='nav'>
      <h2 id="logo"><span>C</span>ode<span>C</span>lan <span>gym</span></h2>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="/sessions">Calendar</a></li>
        <li><a href="/gym_classes">Classes</a></li>
        <li><a href="/persons">Members</a></li>
        <li><a href="/admin">Admin</a></li>
      </ul>
    </nav>


    <div id='wrapper'>

    <section>
      <%= yield %>
        <div id="wrapper-clear"></div>
    </section>

    </div>

    <footer>
      <p id="footer-p">CodeClan Gym Booking System</p>
    </footer>
  </body>
</html>
