<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CodeClan Gym</title>
  </head>
  <body>
    <div id='wrapper'>
    <nav id='nav'>
      <h2>CodeClan Gym</h2>
    </nav>
    <section>
      <%= yield %>
    </section>
    <footer>

    <footer>
  </wrapper>
  </body>
</html>
